{% extends "monitor/base.html" %}

{% block title %}
    {% if comment %}Редактировать комментарий{% else %}Добавить комментарий{% endif %}
{% endblock %}

{% block content %}
<h1 class="text-2xl font-bold mb-4">
    {% if comment %}Редактировать комментарий{% else %}Добавить комментарий{% endif %}
</h1>

<form method="post" class="bg-white p-4 shadow-md rounded-lg">
    {% csrf_token %}
    {{ form.as_p }}

    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700">
        {% if comment %}Сохранить{% else %}Добавить{% endif %}
    </button>
</form>

<a href="{% url 'notes_list' %}" class="block mt-4 text-blue-500 hover:underline">Вернуться к списку</a>
{% endblock %}
